@page "/"

<PageTitle>Home</PageTitle>
<style>
	img {
		width: 30%;
		aspect-ratio: 1/1;
		height: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}


</style>


<img src="Images/Logo2.png" alt="LOGO" />

<div style="margin-top:5%;">
	<NavLink href="/menu"> <h1> The Menu </h1></NavLink> <br />
	<NavLink href="/warenkorb"> <h1> The Cart </h1></NavLink>
	<!--<NavLink href="/Tester"> <h1> The Tester</h1></NavLink>-->
</div>

