@page "/"

<PageTitle>Home</PageTitle>

<img src="Images/Logo2.png" alt="LOGO" width="30%" height="30%" style="display: block; margin-left: auto; margin-right: auto;" />

<div style="margin-top:10%;">
	<NavLink href="/menu"> <h1 style="font-family:'Edwardian Script ITC'; text-align:center;"> The Menu </h1></NavLink> <br />
	<NavLink href="/warenkorb"> <h1 style="font-family:'Edwardian Script ITC'; text-align:center;"> The Cart </h1></NavLink>

</div>
