@page "/menu"
@rendermode InteractiveServer

<PageTitle>menu</PageTitle>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@foreach (String s in fruits)
{
    <div id=@s>

        <div style="float:left;width:100px;">  <p style="font-size:12px; text-align:left;">22$</p>         </div>

        <div style="float:right;width:100px;"> <img src="~/favicon.png" />  </div>
        <div style="margin:0 auto;width:100px;">   <h3> @s </h3>                </div>

		<div>
			<input id="Text1" type="number" /> <input id="Checkbox1" type="checkbox" />
		</div>

    </div>
    <br />
}











@code {
    private int currentCount = 0;
    private String[] fruits = ["s","d","a"];
    //private int[] price = [4.3, 22.4, 11];

    private void IncrementCount()
    {
        currentCount++;
    }
}
